
.relative{
    position: relative;
}

.absolute{
    position: absolute;
    top: 0;

}


.relat{
    position: relative;
}

.Absol{
    position: absolute;
    top: 0;

}

.two{
    font-size: 5rem;
    margin-bottom: 1rem;
    position: absolute;
    top:0%
}

.one{
    position: relative;
}

.three{
    position: absolute;
    top: 100%;
}